Repository lancedb/lance-ray, pull requests merged in 2025-07, with the labels that each got.

#24 docs: add uv installation prompt and fallback usage in README
  README.md
Labels: documentation

#26 docs: update documentation links
  lance_ray/io.py
Labels: bug, documentation

#27 feat: add dataset_options parameter to read_lance
  lance_ray/datasource.py
  lance_ray/io.py
  tests/test_basic_read_write.py
Labels: enhancement
