Repository lancedb/lance-ray, pull requests merged in 2025-08, with the labels that each got.

#31 feat: add retry for write_fragments
  lance_ray/datasink.py
Labels: enhancement

#32 feat: add Python release workflow for PyPI publishing
  .github/workflows/python-release.yml
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/mkdocs.yml
  docs/src/.pages
  docs/src/data-evolution.md
  docs/src/examples.md
  docs/src/index.md
  docs/src/read.md
  docs/src/write.md
  pyproject.toml
  uv.lock
Labels: enhancement

#34 fix: fix ray datasink schema convert issues when using `map_batches` with pandas dataframe
  lance_ray/datasink.py
  lance_ray/datasource.py
  tests/test_basic_read_write.py
Labels: bug

#36 feat: fix glue example and upgrade to 0.0.2
  Makefile
  docs/src/examples.md
  lance_ray/datasink.py
  lance_ray/io.py
  pyproject.toml
  uv.lock
Labels: enhancement

#43 chore: fix version in __init__
  lance_ray/__init__.py
Labels: chore

#40 fix: update write support when using Lance namespace
  lance_ray/datasink.py
  lance_ray/datasource.py
  pyproject.toml
  uv.lock
Labels: bug
